# Data Processing in Python

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Module Overview

### Pandas

- creating tabular data, aka "DataFrames"
- loading data from external sources (text files, databases etc.)
- data sorting and selection
- creation of derived data
- time-series functionality
- plausibility checking and imputation

### Numpy

- fast array and matrix manipulation and operations
- linear algebra
- applying mathematical functions

### Matplotlib

- visualization of data and results
- highly customizable plots

## basic Pandas functionality

In [2]:
# load a dataset from a CSV file
data = pd.read_csv("../../data/example.csv", decimal=".", sep=",", encoding="utf-8")
# show the first 5 rows
print(data.head(5))

   id           name  age  height  score
0   1       John Doe   28     5.9   85.3
1   2     Jane Smith   22     5.7   92.5
2   3    Bob Johnson   34     6.1   78.9
3   4    Alice Brown   29     5.5   88.2
4   5  Charlie Davis   25     6.0   91.4

In [3]:
# get a short summary
print(data.info(verbose=True))
# some basic descriptive statistics
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5 non-null      int64
 1   name    5 non-null      object
 2   age     5 non-null      int64
 3   height  5 non-null      float64
 4   score   5 non-null      float64
dtypes: float64(2), int64(2), object(1)
memory usage: 328.0+ bytes
None
             id        age    height      score
count  5.000000   5.000000  5.000000   5.000000
mean   3.000000  27.600000  5.840000  87.260000
std    1.581139   4.505552  0.240832   5.459212
min    1.000000  22.000000  5.500000  78.900000
25%    2.000000  25.000000  5.700000  85.300000
50%    3.000000  28.000000  5.900000  88.200000
75%    4.000000  29.000000  6.000000  91.400000
max    5.000000  34.000000  6.100000  92.500000

In [4]:
# selecting subsets of data

# selecting a column (returns a pd.Series object)
age_data = data["age"]
# or 
age_data = data.age
# or
age_data = data.loc[:,"age"]  # loc selects data by [index (=row), column]
print(age_data)

# you can select multiple columns with a list of names (this returns a pd.DataFrame object)
height_score = data[["height", "score"]]
print(height_score)

0    28
1    22
2    34
3    29
4    25
Name: age, dtype: int64
   height  score
0     5.9   85.3
1     5.7   92.5
2     6.1   78.9
3     5.5   88.2
4     6.0   91.4

In [5]:
# Filtering data by condition

# get the people with scores >= 90
high_scorers = data[data["score"] >= 90]

# the expression inside the brackets creates a boolean mask, which is used to select only the cells where the mask is "True"
mask = data["score"] >= 90
print(mask)
print(data[mask])

# filtering with multiple conditions
height_scorers = data[(data["score"] >= 90) & (data["height"] >= 6.0)]
print(height_scorers)

0    False
1     True
2    False
3    False
4     True
Name: score, dtype: bool
   id           name  age  height  score
1   2     Jane Smith   22     5.7   92.5
4   5  Charlie Davis   25     6.0   91.4
   id           name  age  height  score
4   5  Charlie Davis   25     6.0   91.4

In [6]:
# selecting rows and columns simultaneously with .loc and .iloc
# select data where "id" is either 1, 2, or 3, and the column is "name"
subset = data.loc[data["id"].isin([1, 2, 3]), "name"]
print(subset)

# select data with index from 0 to 2, and columns from 1 to 3
subset_2 = data.iloc[0:3, 1:4]
print(subset_2)

0       John Doe
1     Jane Smith
2    Bob Johnson
Name: name, dtype: object
          name  age  height
0     John Doe   28     5.9
1   Jane Smith   22     5.7
2  Bob Johnson   34     6.1

In [11]:
# Adding new data to an existing DataFrame
# adding a new column from a series
pet_data = pd.Series(["cat", "dog", "cat", "goldfish", "hamster"])

data["pet"] = pet_data
print(data)

# adding data from a dictionary with merge()
# missing values get filled with NaN (not a number)
group_data = pd.DataFrame.from_dict({"name": ["John Doe", "Bob Johnson", "Alice Brown", "Charlie Davis"], "group": [1, 1, 2, 2]})
print(group_data)
merged_data = data.merge(group_data, how="left")
print(merged_data)

   id           name  age  height  score       pet
0   1       John Doe   28     5.9   85.3       cat
1   2     Jane Smith   22     5.7   92.5       dog
2   3    Bob Johnson   34     6.1   78.9       cat
3   4    Alice Brown   29     5.5   88.2  goldfish
4   5  Charlie Davis   25     6.0   91.4   hamster
            name  group
0       John Doe      1
1    Bob Johnson      1
2    Alice Brown      2
3  Charlie Davis      2
   id           name  age  height  score       pet  group
0   1       John Doe   28     5.9   85.3       cat    1.0
1   2     Jane Smith   22     5.7   92.5       dog    NaN
2   3    Bob Johnson   34     6.1   78.9       cat    1.0
3   4    Alice Brown   29     5.5   88.2  goldfish    2.0
4   5  Charlie Davis   25     6.0   91.4   hamster    2.0

In [18]:
# creating new columns from existing ones

# calculating the score to age ratio
data["score_age_ratio"] = data["score"] / data["age"]
print(data[["name", "score_age_ratio"]])

# applying a function to a column
def get_first_name(full_name):
    return full_name.split(" ")[0]

data["first_name"] = data["name"].apply(get_first_name)
print(data["first_name"])

# you can also pass an anonymous function. less code, but sometimes harder to read
data["last_name"] = data["name"].apply(lambda x: x.split(" ")[-1])
print(data["last_name"])

            name  score_age_ratio
0       John Doe         3.046429
1     Jane Smith         4.204545
2    Bob Johnson         2.320588
3    Alice Brown         3.041379
4  Charlie Davis         3.656000
0       John
1       Jane
2        Bob
3      Alice
4    Charlie
Name: first_name, dtype: object
0        Doe
1      Smith
2    Johnson
3      Brown
4      Davis
Name: last_name, dtype: object